{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block content %}
    <div class="m-3">
        <h1>Hello {{ username }}!</h1>
        <p>Code de retour:</p>
        <p>Clients:
            {% if client_data.status == 200 %}
                <span class="badge bg-success">Success ({{ client_data.status }})</span>
            {% else %}
                <span class="badge bg-danger">Failure ({{ client_data.status }})</span>
            {% endif %}
        </p>
        <p>Mécaniciens:
            {% if mecano_data.status == 200 %}
                <span class="badge bg-success">Success ({{ mecano_data.status }})</span>
            {% else %}
                <span class="badge bg-danger">Failure ({{ mecano_data.status }})</span>
            {% endif %}
        </p>
        <p>Rendez-vous:
            {% if appointment_data.status == 200 %}
                <span class="badge bg-success">Success ({{ appointment_data.status }})</span>
            {% else %}
                <span class="badge bg-danger">Failure ({{ appointment_data.status }})</span>
            {% endif %}
        </p>
        <p>Vehicules:
            {% if vehicle_data.status == 200 %}
                <span class="badge bg-success">Success ({{ vehicle_data.status }})</span>
            {% else %}
                <span class="badge bg-danger">Failure ({{ vehicle_data.status }})</span>
            {% endif %}
        </p>
        <p>Factures:
            {% if bill_data.status == 200 %}
                <span class="badge bg-success">Success ({{ bill_data.status }})</span>
            {% else %}
                <span class="badge bg-danger">Failure ({{ bill_data.status }})</span>
            {% endif %}
        </p>


        <p>Voici plusieurs informations possibles sur le site</p>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Nombre d'Utilisateurs
                    </div>
                    <div class="card-body">
                        <p>Users: <strong>{{ user_count }}</strong></p>
                        <p>Clients: <strong>{{ client_data.count }}</strong></p>
                        <p>Mécaniciens: <strong>{{ mecano_data.count }}</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Nombre de Rendez-vous
                    </div>
                    <div class="card-body">
                        <p>Rendez-vous: <strong>{{ appointment_data.count }}</strong></p>
                        <p>Acceptés: <strong>{{ appointment_data.accepted_appointment_count }}</strong></p>
                        <p>Refusé: <strong>{{ appointment_data.refused_appointment_count }}</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Nombre de Véhicules
                    </div>
                    <div class="card-body">
                        <p>Véhicules: <strong>{{ vehicle_data.count }}</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Nombre de Paiements
                    </div>
                    <div class="card-body">
                        <p>Paiements: <strong>{{ bill_data.count }}</strong></p>
                        <p>Payés: <strong>{{ bill_data.paid_bill_count }}</strong></p>
                        <p>Non-Payés: <strong>{{ bill_data.unpaid_bill_count }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
