{% extends 'base.html' %}

{% block title %}Statistics{% endblock %}

{% block content %}
    <div class="m-3">
        <h1>Hello {{ username }}!</h1>

        <p>Voici plusieurs informations possibles sur le site</p>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Nombre d'Utilisateurs
                    </div>
                    <div class="card-body">
                        <p>Users: <strong>___</strong></p>
                        <p>Clients: <strong>___</strong></p>
                        <p>Mécaniciens: <strong>___</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Nombre de Rendez-vous
                    </div>
                    <div class="card-body">
                        <p>Rendez-vous: <strong>___</strong></p>
                        <p>Acceptés: <strong>___</strong></p>
                        <p>Refusé: <strong>___</strong></p>
                        <p>En attente: <strong>___</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Nombre de Véhicules
                    </div>
                    <div class="card-body">
                        <p>Véhicules: <strong>___</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Nombre de Paiements
                    </div>
                    <div class="card-body">
                        <p>Paiements: <strong>___</strong></p>
                        <p>Payés: <strong>___</strong></p>
                        <p>Non-Payés: <strong>___</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
