{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand me-4" href="{% url 'home' %}">
            <img src="{% static 'logo.png' %}" alt="Logo" style="height: 40px;">
        </a>

        <div class="d-flex flex-grow-1">
            <a class="nav-link active me-4" href="{% url 'home' %}">Home</a>
            <a class="nav-link active me-4" href="#">Users</a>
            <a class="nav-link active me-4" href="#">Cars</a>
            <a class="nav-link active me-4" href="#">Schedule</a>
            <a class="nav-link" href="{% url 'statistics' %}">Statistic</a>
        </div>

        <a class="nav-link" href="#">Logout</a>
    </div>
</nav>
